.App {
  text-align: center;
  background:radial-gradient(rgb(0, 113, 165), rgb(0, 38, 126));
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border: 1px solid black;
  border-radius: 15px;
  background-image: url("../src/Img/33925-n-stage-nlement_blank-int.png");
  background-position: center;
  /* background-size: cover; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 3px 5px #004558;
}

.App-link {
  color: #61dafb;
}
.App-footer {
  border: 1px solid black;
  background-image: url("../src/Img/33925-n-stage-nlement_blank-int.png");
  background-position: center;
  border-radius: 15px;
  color: white;
  text-shadow: 2px 3px 5px #004558;
  font-size: 20px;
}
html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden; /* Esto evita la barra de desplazamiento vertical si es necesario */
}

.App-main {
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
